html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #E4E7EC;
}
button{
    cursor: pointer;
        border: 0px solid #3498db;
        background-color: transparent;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
.container{
    display: block;
    width: 360px;
    height: 671px;
    text-align: justify;
    border-radius: 12px;
    padding: 20px;
}
.top{
    display: block;
    width: 360px;
    height: 420px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;

}
.header{
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 5px;
    width: 360px;
height: 62px;
}
.header2{
    padding-left: 15px;
}
.header3{
    padding-left: 15px;
}

.featured-icon{
    display: block;
width: 48px;
height: 48px;

background: #C2E8C9;
border-radius: 100%;
padding: 2px;

}
#vector{
    color: #00A542;
    font-size: 40px;
    text-align: center;
    padding: 4px;
}
.frame-1{
width: 157px;
height: 32px;
background-color: #ffffff;
margin: auto;
text-align: justify;
padding: 10px;

}
.text{
    width: 157px;
height: 32px;
background-color: rgb(255, 255, 255);
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: #101828;
text-align: justify;
}
.frame-in1{
    width: 146px;
height: 40px;
background-color: rgb(255, 255, 255);
}
.divider{
    width: 360px;
height: 1px;
background: #E4E7EC;
border: 0px;
}
.frame-out1{
    width: 360px;
height: 124px;
background-color: #00A542;
}
.frame-in2{
width: 285px;
height: 84px;
background-color: rgb(255, 255, 255);
padding: 8px;
}
.frame-in3{
width: 20px;
height: 28px;
background-color: rgb(255, 255, 255);
margin: auto;
float:left;
padding: 6px;
padding-top: 10px;
}
#vector2{
    color: #98A2B3;
    padding-top: 6px;
}
#vector_cp{
    color: #667085;;
    padding-top: 15px;
}
.frame-in4{
    width: 253px;
height: 84px;
background-color: rgb(255, 255, 255);
margin: auto;
padding: 8px;
text-align: justify;
}
.text1{
    width: 58px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;

color: #667085;
margin: auto;
border: 0.08px solid #FFFFFF;
padding: auto;
}
.text2{
    width: 253px;
height: 60px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #101828;
font-weight: bolder;
}
.frame-out2{
    width: 360px;
height: 84px;
background-color: #ffffff00;
}
.frame-in5{
    width: 256px;
height: 44px;
background-color: rgba(255, 255, 255, 0);
margin: auto;
}
.frame-in6{
    width: 20px;
height: 28px;
background-color: rgba(255, 255, 255, 0);
float:left;
padding: 8px;
padding-top: 20px;
}
.frame-in7{
    width: 197px;
height: 44px;
background-color: #ffffff00;
padding: 8px;
padding-right: 70px;
}
.button{
    width: 40px;
height: 40px;
background-color: rgba(0, 0, 0, 0);
color:rgba(0, 0, 0, 0.6);
margin: top;
float: left;
padding-right: 40px;
}
#vector3{
    color: #667085;
}
.frame-out3{
    width: 360px;
height: 84px;
background-color: rgba(255, 255, 255, 0);
}
.button2{
    width: 40px;
height: 40px;
background-color: rgb(255, 255, 255);
margin: top;
float: right;
padding-top: 20px;
}
.bottom{
    width: 360px;
height: 300px;

background: rgb(255, 255, 255);
border-radius: 12px;
}
.featured-icon2{
    display: block;
width: 36px;
height: 36px;

background: #C2E8C9;
border-radius: 100%;
gap: 10px;
}
#vector4{
    color: #00A542;
    font-size:24px;
    padding-top: 6px;
    padding-left: 6px;
    
}
.frame-in8{
    width: 197px;
height: 44px;
background-color: #ffffff00;
text-align: justify;
padding-left: 20px;
}
.badge-base{
    width: 120px;
    height: 28px;
background: #ECFDF3;
border-radius: 16px;
display:block;
padding-top: 6px;
padding-left: 10px;

}
.badge-base2{
    width: 120px;
    height: 28px;
background: #FEF3F2;
border-radius: 16px;
display:block;
padding-top: 6px;
padding-left: 10px;

}
.button_op{
    background-color: rgba(0, 0, 0, 0);
    padding-right: 50px;
}
#dot{
    font-size: 10px;
color: #12B76A;
background-color: rgba(0, 0, 0, 0);
}
#dot2{
    font-size: 10px;
color: #F04438;
background-color: rgba(0, 0, 0, 0);
}

.o-text{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 20px;

color: #12B76A;
background-color: rgba(0, 0, 0, 0);
}
.o-text2{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 20px;

color: #fc0101;
background-color: rgba(0, 0, 0, 0);

}
#dot2{
    width: 6px;
height: 6px;
left: 1px;
top: 1px;

color: #fc0101;
}
.frame-out4{
    width: 260px;
height: 46px;
background-color: rgba(255, 255, 255, 0);
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
padding-right: 36px;

}
