.container{
    width: 360px;
    height: 671px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    text-align: justify;
    border-radius: 12px;
}
.top{
    width: 360px;
    height: 391px;
    background-color: aqua;

}
.content{
    width: 360px;
    height: 92px;
    background-color:red;
}
.header{
    width: 312px;
    height: 48px;
    background-color: yellow;
    margin:auto;
}
.featured-icon{
width: 48px;
height: 48px;

background: #C2E8C9;
border-radius: 2.22222e+13px;

}
.bolt{
    width: 36px;
height: 36px;
background-color: white;
border-radius: 2.22222e+13px;
margin:auto;

}
#vector{
    color: #00A542;
    font-size: 36px;
}
.frame-1{
width: 157px;
height: 32px;
background-color: #00A542;
float: right;
flex-direction: column;
margin: auto;
text-align: center;
}
.text{
    width: 157px;
height: 32px;
background-color: rgb(243, 240, 255);
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: #101828;
margin: auto;
}
.frame-in1{
    width: 146px;
height: 40px;
background-color: white;
}
.divider{
    width: 360px;
height: 1px;
background: #E4E7EC;
}
.frame-out1{
    width: 360px;
height: 124px;
background-color: #00A542;
}
.frame-in2{
width: 285px;
height: 84px;
background-color: red;
margin: auto;
}
.frame-in3{
width: 20px;
height: 28px;
background-color: aquamarine;
margin: auto;
float:left
}
#vector2{
    color: #98A2B3;
}
.frame-in4{
    width: 253px;
height: 84px;
background-color: aqua;
margin: auto;
}
.text1{
    width: 58px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;

color: #667085;
margin: auto;
border: 0.08px solid #FFFFFF;
}
.text2{
    width: 253px;
height: 60px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #101828;
}
.frame-out2{
    width: 360px;
height: 84px;
background-color: #00A542;
}
.frame-in5{
    width: 256px;
height: 44px;
background-color: aqua;
margin: auto;
}
.frame-in6{
    width: 20px;
height: 28px;
background-color: aliceblue;
float:left;
}
.frame-in7{
    width: 197px;
height: 44px;
background-color: #a58c00;
float: right;
}
.button{
    width: 40px;
height: 40px;
background-color: antiquewhite;
float: right;
margin: top;
}
#vector3{
    color: #667085;
}
.frame-out3{
    width: 360px;
height: 84px;
background-color: red;
}
.bottom{
    width: 360px;
height: 264px;

background: antiquewhite;
border-radius: 12px;
}
.frame-in8{
    width: 197px;
height: 44px;
background-color: #a58c00;
}
.badge-base{
    width: 102px;
height: 28px;
background: #ECFDF3;
border-radius: 16px;
float: right;
}
.dot{
    width: 6px;
height: 6px;
left: 1px;
top: 1px;

background: #12B76A;
}
.o-text{
    width: 66px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 20px;

text-align: center;

color: #027A48;
margin: auto;
}
.badge-base2{
    width: 102px;
height: 28px;

border-radius: 16px;
background-color: rgba(0, 17, 255, 0.384);
float:right;
text-align: justify;
}
.o-text2{
    width: 66px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 20px;

text-align: center;

color: #fc0101;
margin: auto;

}
#dot2{
    width: 6px;
height: 6px;
left: 1px;
top: 1px;

background: #fc0101;
}
.frame-out4{
    width: 260px;
height: 46px;
background-color: burlywood;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
margin: auto;
text-align: justify;

}
